body {color: black; background: #9EBFD0; margin: 0; padding: 0;}

table {width: 100%; margin: 5; padding: 5; font-size: small}
table td {
    padding: 0; border-width: 0;
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:10px;
	color:#003F5F;
}

.t11 {
	font-family: Tahoma;
	font-size: 11px;
	font-style: normal;
}
.style1 {
	color: #ffffff;
	font-weight: bold;
}
.style2 {color: #000000}


a {color: #666666; text-decoration: none; font-weight: bold; background-color: transparent;}
a:hover {color: #ff6600;}
a.1 {
	text-decoration: none;
	color:#003F5F;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #2F5376}

input.formButton {}

.item {border: 1px solid #cccccc;}
.itemHead {padding: 3px; background-color: #7FA4B4; color: #FFFFFF;}
.itemInfo {text-align: right; padding: 3px; background-color: #BCD7E0}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #BCD7E0}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}

th {background-color: #7FA4B4; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

td#headerbanner {vertical-align: middle; text-align:center; background-image: url(images/26.jpg); WIDTH:541px; HEIGHT:140px; background-repeat: no-repeat;}
td#headerbar {background-image: url(images/1.jpg); height: 20px;}
td#headertop {background-image: url(images/21.jpg); height: 42px; background-repeat: no-repeat;}
td#headerleft {width: 22%; background-image: url(images/l1.jpg); background-repeat: repeat-x;}

td#blockTitleLeft {background-image: url(images/topleftborder.jpg);background-repeat: no-repeat; }
td#blockTitle {background-image: url(images/topborder.jpg); background-repeat: repeat-x; font-weight: bold; margin-top: 3px; padding-top:5px; height: 20px;}
td#blockTitleRight {background-image: url(images/toprightborder.jpg);background-repeat: no-repeat;}
td#blockContentLeft {background-image: url(images/leftborder.jpg); width: 15px;}
td.blockContent {padding: 3px; margin: 3px;}
td#blockContentRight {background-image: url(images/rightborder.jpg); width: 15px;}
td#blockFooterLeft {background-image: url(images/bottomleftborder.jpg); width: 15px;}
td#blockFooter {background-image: url(images/bottomborder.jpg); height: 15px;}
td#blockFooterRight {background-image: url(images/bottomrightborder.jpg); width: 15px;}

td#leftcolumn {font-size:12px; padding: 10px;}
td#leftcolumn th {vertical-align: middle;}
td#leftcolumn div.blockTitle {font-weight: bold;}
td#leftcolumn div.blockContent {padding: 3px; line-height: 120%; line-height: 120%;}

td#leftcenter {background-image: url(images/3.jpg); background-position:right; width: 50px; background-repeat: repeat-y;}

td#centercolumn {width: 680px; font-size: 12px;}

td#centercolumn th {vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn td#blockTitle {padding: 3px; color: #639ACE; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerCcolumn div.blockContent {padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;}

td#centerLcolumn {width: 234px; padding: 0px 3px 0px 0px;}
td#centerLcolumn div.blockContent {padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; line-height: 120%;}


td#centerRcolumn {padding: 0px 3px 0px 0px;}
td#centerRcolumn td#blockTitle {margin-top: 0px;}
td#centerRcolumn div.blockContent {padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;}

div#content {text-align: left; padding: 8px;}

td#rightcenter {background-image: url(images/5.jpg); background-position:left; width: 50px; background-repeat: repeat-y;}

td#rightcolumn {font-size:12px;}
td#rightcolumn th {vertical-align: middle;}
td#rightcolumn td#blockTitle {font-weight: bold;}
td#rightcolumn div.blockContent {padding: 3px; line-height: 120%;}

td#mainmenu a {background-color: #7FA4B4; display: block; margin: 0; padding: 4px;}
td#mainmenu a:hover {background-color: #9EBFD0;}
td#mainmenu a.menuTop {padding-left: 3px;}
td#mainmenu a.menuMain {padding-left: 3px;}
td#mainmenu a.menuSub {padding-left: 9px; }

td#usermenu a {background-color: #7FA4B4; display: block; margin: 0; padding: 4px;}
td#usermenu a:hover {background-color: #9EBFD0;}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #fcc;}

.outer {border: 1px solid silver;}
.head {background-color: #9f9f9f; padding: 5px; font-weight: bold;}
.even {background-color: #A8BFCD; padding: 5px;}
.odd {background-color: #BCD7E0; padding: 5px;}
.foot {background-color: #8CB1BA; padding: 5px; font-weight: bold;}
tr.even td {background-color: #A8BFCD; padding: 5px;}
tr.odd td {background-color: #BCD7E0; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}

.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}